/*navbar*/
 body {
    font-size: 28px;
    width:100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
 
.text-overlay {
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: 'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 60px;
    margin-top: 100px;
   
}
.box-container{
    display: flex;
    justify-content: space-evenly;
    margin: 150PX;
    
  }
  .box-container .box1:hover{
    transform: scale(1.25);
}

  .box-container .box1{
    box-shadow: 5px 5px 15px  #A7D477 ;
    width:300px;
    height: 450PX;
    color:  #FF748B;
    text-align: center;
    background-color:#E4F1AC;
     font-family: 'Times New Roman', Times, serif;
    transition: transform 4s;

  }

  .box-container .box1 img{
    width: 200px;
    height: 200px;
   justify-content: center;
   border-radius: 10%;
   margin: 40px;
  }
  .box-container .box2:hover{
    transform: scale(1.25);
}
  .box-container .box2 img{
    width: 200px;
    height: 200px;
   justify-content: center;
   border-radius: 10%;
   margin: 40px;
  }
  .box-container .box3:hover{
    transform: scale(1.25);
}
  .box-container .box3 img{
    width: 200px;
    height: 200px;
   justify-content: center;
   border-radius: 10%;
   margin: 40px;
  }
  .box-container .box2{
    box-shadow: 5px 5px 15px  #A7D477  ;
    width:300px;
    height:450PX;
    color:  #FF748B;
    text-align: center;
    background-color:#E4F1AC ;
     font-family: 'Times New Roman', Times, serif;
    transition: transform 4s;

  }
  .box-container .box3{
    box-shadow: 5px 5px 15px   #A7D477  ;
    width:300px;
    height: 450PX;
    color:  #FF748B;
    text-align: center;
    background-color:#E4F1AC;
     font-family: 'Times New Roman', Times, serif;
    transition: transform 4s;

  }
   .box-container .box4:hover{
    transform: scale(1.25);
}

  .box-container .box4{
    box-shadow: 5px 5px 15px  #A7D477 ;
    width:300px;
    height: 450PX;
    color:  #FF748B;
    text-align: center;
    background-color:#E4F1AC;
     font-family: 'Times New Roman', Times, serif;
    transition: transform 4s;

  }

  .box-container .box4 img{
    width: 200px;
    height: 200px;
   justify-content: center;
   border-radius: 10%;
   margin: 40px;
  }
  
  .box-container .box1 a:hover {
   
    color: #A7D477;
   
  }
  .box-container .box2 a:hover {
   
    color: #A7D477;
   
  }
  .box-container .box3 a:hover {
    color: #A7D477;
   
  }
  .box-container .box4 a:hover {
    color: #A7D477;
   
  }
  .box1 a{
    color: #FF748B;
    text-decoration: none;
  }
 .box2 a{
    color:  #FF748B;
    text-decoration: none;
  }
 .box3 a{
    color: #FF748B;
    text-decoration: none;
  }
  .box4 a{
    color: #FF748B;
    text-decoration: none;
  }
h2{
  color: #FF748B;
  font-family: 'Times New Roman', Times, serif;
 margin-left:50px;
  
}
